[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
	name = Yoichiro Sakurai
    email = saku2saku@gmail.com
[credential]
    helper = osxkeychain
[core]
    excludesfile = ~/.gitignore_global
[push]
    default = current
[ghq]
    root = ~/ghq
[url "git@github.com:"]
	insteadOf = https://github.com/
